<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" metadata-complete="true" version="4.0">
  <context-param>
    <param-name>userSessionKey</param-name>
    <param-value>USERSESIONKEY</param-value>
  </context-param>
  <context-param>
    <param-name>redirectPage</param-name>
    <param-value>/login/login.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>uncheckedUrls</param-name>
    <param-value>/login/a.jsp,/login/login.jsp,/login/doLogin.jsp,/login/list.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>tomcat</param-value>
  </context-param>
  <context-param>
    <param-name>encoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <filter>
    <filter-name>HelloFilter</filter-name>
    <filter-class>cn.swu.edu.javaweb.practice.HelloFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HelloFilter</filter-name>
    <url-pattern>/test.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SecondFilter</filter-name>
    <filter-class>cn.swu.edu.javaweb.practice.SecondFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecondFilter</filter-name>
    <url-pattern>/test.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>UserNameFilter</filter-name>
    <filter-class>cn.swu.edu.javaweb.practice.UserNameFilter</filter-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>tomcat</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UserNameFilter</filter-name>
    <url-pattern>/hello.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PasswordFilter</filter-name>
    <filter-class>cn.swu.edu.javaweb.practice.PasswordFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PasswordFilter</filter-name>
    <url-pattern>/hello.jsp</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>NoCacheFilter</filter-name>
    <filter-class>cn.swu.edu.javaweb.cache.NoCacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NoCacheFilter</filter-name>
    <url-pattern>/cache/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.swu.edu.javaweb.practice.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/encoding/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>cn.swu.edu.javaweb.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/login/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>AuthorityServlet</servlet-name>
    <servlet-class>cn.swu.edu.javaweb.controller.AuthorityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorityServlet</servlet-name>
    <url-pattern>/authorityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>cn.swu.edu.javaweb.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
    <filter>
  	<filter-name>AuthorityFilter</filter-name>
  	<filter-class>cn.swu.edu.javaweb.filter.AuthorityFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AuthorityFilter</filter-name>
  	<url-pattern>/permission/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>ContentFilter</filter-name>
  	<filter-class>cn.swu.edu.javaweb.filter.ContentFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>ContentFilter</filter-name>
  	<url-pattern>/content/bbs.jsp</url-pattern>
  </filter-mapping>
  
  <listener>
  	<listener-class>cn.swu.edu.javaweb.listener.ServletListener</listener-class>
  </listener>
</web-app>
