<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" metadata-complete="true" version="4.0">
  <display-name>Tomcat Documentation</display-name>
  <description>
		Tomcat Documentation.
	</description>
  <servlet>
    <servlet-name>ProcessStep1Servlet</servlet-name>
    <servlet-class>cn.swu.edu.javaweb.ProcessStep1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessStep1Servlet</servlet-name>
    <url-pattern>/processStep1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessStep2Servlet</servlet-name>
    <servlet-class>cn.swu.edu.javaweb.ProcessStep2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessStep2Servlet</servlet-name>
    <url-pattern>/processStep2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tokenServlet</servlet-name>
    <servlet-class>cn.swu.edu.javaweb.TokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tokenServlet</servlet-name>
    <url-pattern>/tokenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>validateColorServlet</servlet-name>
    <servlet-class>cn.swu.edu.javaweb.ValidateColorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validateColorServlet</servlet-name>
    <url-pattern>/validateColorServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>checkCodeServlet</servlet-name>
    <servlet-class>cn.swu.edu.javaweb.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkCodeServlet</servlet-name>
    <url-pattern>/checkCodeServlet</url-pattern>
  </servlet-mapping>
</web-app>